src/main/webapp/resources/js/angular.min.js linguist-vendored
src/main/webapp/resources/js/bootstrap.min.js linguist-vendored
src/main/webapp/resources/js/bootstrap-notify.min.js linguist-vendored
src/main/webapp/resources/js/jquery-3.1.1.min.js linguist-vendored