src/main/webapp/resources/js/angular.min.js angular-vendored
src/main/webapp/resources/js/bootstrap.min.js bootstrap-vendored
src/main/webapp/resources/js/bootstrap-notify.min.js bootstrap-notify-vendored
src/main/webapp/resources/js/jquery-3.1.1.min.js jquery-vendored